// Main - default styles
$white: rgb(220, 220, 220);
$black: rgb(20, 20, 20);
$greylite: rgb(125, 119, 119);
$grey: rgb(68, 68, 68);
$vuegreen: rgb(65, 184, 131);
$vueblue: rgb(53, 73, 94);
$vuegreendark: darken($vuegreen, 20%);
$vuegreenshadow: darken($vuegreen, 30%);
$dexred: rgb(193, 37, 37);
$dexyellow: rgb(189, 173, 50);
$dexgreen: rgb(0, 231, 128);
$outlineblue: rgb(77, 144, 254);

// Original Dex
$originalred: rgb(192, 13, 13);

// Pikadex
$pikayellow: rgb(252, 229, 1);
$pikayellowdark: darken($pikayellow, 20%);
$pikayellowshadow: darken($pikayellow, 30%);

// Squirtlex
$squirtleblue: rgb(151, 203, 216);
$squirtlebluedark: darken($squirtleblue, 20%);
$squirtleblueshadow: darken($squirtleblue, 30%);

// -- COLOR MAP -- //

  // Default
  $color: $white;
  $bg: $black;
  $dexbg: $vuegreen;
  $dexbgdark: $vuegreendark;
  $dexbgalt: $vueblue;
  $displayouter: $greylite;
  $listouter: $grey;
  $outline: $outlineblue;

  // Original
  // "borrowed" from https://toucantoco.com/pokedex.html
  $orgbg: $originalred;
  $orgbgdark: rgb(139, 0, 0);
  $orgshadow_color: rgb(96, 7, 7);

  // Pikadex
  $pikabg: $pikayellow;
  $pikabgdark: $pikayellowdark;

  // Squirtlex
  $squirtlebg: $squirtleblue;
  $squirtlebgdark: $squirtlebluedark;


// -- GRADIENTS -- //
$hingebg: linear-gradient(to right, $vuegreenshadow 0%, $vuegreen 50%, $vuegreenshadow 100%);
$hng: linear-gradient(to right, rgba(30,11,11,0.5) 0%,rgba(25,71,51,0.5) 50%,rgba(30,11,11,0.5) 100%);
$bar: linear-gradient($black, $black);
$pokeball: linear-gradient(to bottom, white 0%, white 45%, $vueblue 45%, $vueblue 55%, $vuegreen 55%, $vuegreen 100%);

$orghinge: linear-gradient(to right,  $orgbgdark, rgb(192, 13, 13), $orgbgdark);
$orghingedark: linear-gradient(to right, $orgshadow_color, $orgbgdark, $orgshadow_color);

$pikahinge: linear-gradient(to right, $pikabgdark, $pikabg, $pikabgdark);
$pikahingedark: linear-gradient(to right, $pikayellowshadow, $pikabgdark, $pikayellowshadow);

$squirthinge: linear-gradient(to right, $squirtlebgdark, $squirtlebg, $squirtlebgdark);;
$squirthingedark: linear-gradient(to right, $squirtleblueshadow, $squirtlebgdark, $squirtleblueshadow);;

// -- SHADOWS -- //
$shadow: -5px 5px 0 5px $vuegreenshadow;
$keyshadow: -2px 2px 1px 0px rgb(33, 45, 59);

$orgshadow: -5px 5px 0 5px $orgshadow_color;
$pikashadow: -5px 5px 0 5px $pikayellowshadow;
$squirtshadow: -5px 5px 0 5px $squirtleblueshadow;

// -- BORDER RADIUS --//
$dexradius: 30px;
$dexradius_lg: 160px;

// -- FONTS -- //
$sans: 'Open Sans', sans-serif;
$mono: 'VT323', monospace;
